<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js"></script>
    <script src="./js/app.js"></script>
    <script>
    TogetherJSConfig_hubBase = "http://dataagent.org:8001";
    TogetherJSConfig_findRoom = {prefix: "111", max: 5};
    TogetherJSConfig_autoStart = true;
    TogetherJSConfig_suppressJoinConfirmation = true;
    TogetherJSConfig_storagePrefix = "ct";
    TogetherJSConfig_cloneClicks = true;
    </script>

    <style>
    .editor {
        /** Setting height is also important, otherwise editor wont showup**/
        height: 60px;
        width: 100%;
    }

    </style>
</head>
<body>
<div class="ui inverted menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="mail icon"></i> Messages
  </a>
  <a class="item">
    <i class="user icon"></i> Friends
  </a>
</div>

<div class='editor'></div>


<div class="ui grid">
  <div class='row'>
    <div id='expandAllButton' class='ui large button'> Expand All </div>
    <div id='callapseAllButton' class='ui large button'> Collapse All </div>
    <div id='addProConButton' class='ui large button'>Add ProCon</div>
  </div>
  <div class='row'>
    <div class="six wide column">
      <h1 class='ui header'>Pro</h1>
    </div>
    <div class="six wide column">
      <h1 class='ui header'>Con</h1>
    </div>

  </div>
  <div id="pro" class="pro six wide column"></div>
  <div id="con" class="con six wide column"></div>
</div>

<div id='proandcon' class='ui grid'>

</div>

<hr />
<div class='ui grid'>
  <div class="five wide column"></div>
  <div class="seven wide column">Copyright ©2015, CSCL Lab @ The Pennsylvania State University</div>
</div>
<script src="https://togetherjs.com/togetherjs-min.js"></script>
<script>
$().ready(function () {

});

$(document).on('accordion', '.ui.accordion', function() {
  console.log('acc');
});

function clicked() {

}

// function edit() {
//   var authorEditor = ace.edit("editor");

//   authorEditor.getSession().setMode("ace/mode/text");
//   authorEditor.getSession().setUseWrapMode(true);
//   authorEditor.setReadOnly(false);
// }

// var authorEditor = ace.edit("editor");

// authorEditor.getSession().setMode("ace/mode/text");
// authorEditor.getSession().setUseWrapMode(true);
// authorEditor.setReadOnly(true);
// authorEditor.renderer.setShowGutter(false);

// authorEditor.setReadOnly(true);
// var titles = document.getElementsByClassName('title');
// for (var i = 0; i < titles.length; i += 1) {
//   titles[i].addEventListener('click', function(){
//   $('#soso').accordion('open');
//   });
// }


</script>
</body>
</html>
