<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js"></script>
    <script src="./js/app.js"></script>
    <script>
    // TogetherJSConfig_hubBase = "http://dataagent.org:8001";
    // TogetherJSConfig_findRoom = {prefix: "111", max: 5};
    // TogetherJSConfig_autoStart = true;
    // TogetherJSConfig_suppressJoinConfirmation = true;
    // TogetherJSConfig_storagePrefix = "ct";
    // TogetherJSConfig_cloneClicks = true;
    </script>

    <style>
    .editor {
        /** Setting height is also important, otherwise editor wont showup**/
        height: 90px;
        width: 100%;
    }

    </style>
</head>
<body>
<div class="ui inverted menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="mail icon"></i> Messages
  </a>
  <a class="item">
    <i class="user icon"></i> Friends
  </a>
</div>


<div class="ui grid">
  <div id="pro" class="six wide column"></div>
  <div id="con" class="six wide column"></div>
</div>

<div class='ui grid'>
  <div class='six wide column'>

<div class="ui styled accordion">
  <div class="active title">
    <i class="dropdown icon"></i>
    Level 1
  </div>
  <div class="active content">
      <div class='row'>
            Welcome to level 1
      </div>
      <hr />
      <div class='row'>
      <i class="add square icon">Add</i>

      </div>



    <div class="accordion">
      <div class="title">
          <i class="dropdown icon"></i>
          Level 1A
      </div>
      <div class="content">
        <p>Level 1A Contents</p>
      </div>
      <div class="title">
          <i class="dropdown icon"></i>
          Level 1B
      </div>
      <div class="content">
          Level 1B Contents
      </div>
      <div class="title">
          <i class="dropdown icon"></i>
          <input value="Level 1C" />
          <input type='submit' onclick='clicked()' value='submit' />

      </div>
      <div class="content">
          <div id='editor'  class="editor">


          </div>
          <div class='ui blue button' onclick="edit()">edit</div>
      </div>
    </div>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Level 2
  </div>
  <div class="content">

    <p>Welcome to level 2</p>
  </div>
</div>
  </div>
  <div class='six wide column'>

<div class="ui styled accordion">
  <div class="active title">
    <i class="dropdown icon"></i>
    Level 1
  </div>
  <div class="active content">
    Welcome to level 1
    <div class="accordion">
      <div id='soso' class="title">
          <i class="dropdown icon"></i>
          Level 1A
      </div>
      <div class="content">
        <p>Level 1A Contents</p>
      </div>
      <div class="title">
          <i class="dropdown icon"></i>
          Level 1B
      </div>
      <div class="content">
          Level 1B Contents
      </div>
      <div class="title">
          <i class="dropdown icon"></i>
          <input value="Level 1C" />
          <input type='submit' onclick='clicked()' value='submit' />

      </div>
      <div class="content">
          <div id='editor'  class="editor"></div>
          <div class='ui blue button' onclick="edit()">edit</div>
      </div>
    </div>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Level 2
  </div>
  <div class="content">
    <p>Welcome to level 2</p>
  </div>
</div>
  </div>
</div>

<hr />
<script src="https://togetherjs.com/togetherjs-min.js"></script>
<script>
$().ready(function () {
    // $('.ui.accordion').accordion({
    //   exclusive: false
    // });
  // $(document).on('click', '.ui.accordion', function() {
  //   console.log('.ui.accordion');


  // });
});

$(document).on('accordion', '.ui.accordion', function() {
  console.log('acc');
});

function clicked() {

}

// function edit() {
//   var authorEditor = ace.edit("editor");

//   authorEditor.getSession().setMode("ace/mode/text");
//   authorEditor.getSession().setUseWrapMode(true);
//   authorEditor.setReadOnly(false);
// }

// var authorEditor = ace.edit("editor");

// authorEditor.getSession().setMode("ace/mode/text");
// authorEditor.getSession().setUseWrapMode(true);
// authorEditor.setReadOnly(true);
// authorEditor.renderer.setShowGutter(false);

// authorEditor.setReadOnly(true);
var titles = document.getElementsByClassName('title');
for (var i = 0; i < titles.length; i += 1) {
  titles[i].addEventListener('click', function(){
  $('#soso').accordion('open');
  });
}


</script>
</body>
</html>
